.container {
    border: 5px solid rgba(0,0,0,0.3);
    width: 500px; 
    margin: 30px auto;
    padding: 10px 50px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
    background-color: #000;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    
}
img {
    width: 300px;
    display: block;
    margin: auto;
}
#people-container {
    list-style: none;
    border: 5px solid white;
    padding: 10px 0;
    height: 240px;
    overflow-y: auto;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e6af07;
    border: 1px solid black;
    padding: 7px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px #000;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
button:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}