<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <img src="/sw_logo.png" alt="">
        <button id="peopleBtn">People</button>
        <button id="planetsBtn">Planet</button>
        <ul id="people-container"></ul>
        <button id="prev" hidden>Previous 10</button>
        <button id="allpeople" hidden>All</button>
        <button id="allplanets" hidden>All</button>
        <button id="next" hidden>Next 10</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>